# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

hello-world/target/
hello-world/.idea/
hello-world-annotation/target/
hello-world-annotation/.idea/
security-database/target/
security-database/.idea/
security-database-annotation/target/
security-database-annotation/.idea/
security-limit-login-annotation/target/
security-limit-login-annotation/.idea/
security-remember-me-annotation/target/
security-remember-me-annotation/.idea/