<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>hello</title>
</head>
<body>
    <h1 th:text="|标题: ${title}|">Title : XXX</h1>
    <h1 th:text="|信息: ${message}|">Message : XXX</h1>

    <div sec:authentication="name">
        验证用户的名称显示在这里
    </div>
    <div sec:authentication="principal.authorities">
        验证用户的权限显示在这里
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">
        This content is only shown to <b>administrators</b>.
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        This content is only shown to <b>users</b>.
    </div>

    <!-- 下面注释掉的两种写法是等价的，但是不起作用，暂时使用第三种方式 -->
    <div sec:authorize="hasRole('ROLE_USER')">
    <!--<div sec:authorize="hasAuthority('ROLE_USER')">-->
        <!--<div th:if="${#strings.contains(#authentication.principal.authorities,'ROLE_USER')}">-->
        <form th:action="@{/logout}" method="post" id="logoutForm">*
            <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
        </form>

        <h2><a href="javascript:formSubmit()">退出</a></h2>

        <script>
            function formSubmit() {
                document.getElementById("logoutForm").submit();
            }
        </script>
    </div>
</body>
</html>